<h1>Name: {{ fullName }}</h1>
<h2>Your Race: {{ myRandomRace }}</h2>
<h2>Your AC: {{ characterAC }}</h2>
<h3>Your Speed: {{ speed }}</h3>
<p>Languages Spoken:</p>
<ul>
    <li *ngFor="let languages of languageList">{{ languages.name }}</li>
</ul>

<p>Your Ability Scores:</p>
<ul>
    <li *ngFor="let scores of myScores">{{ scores.id }}: {{ scores.score }}</li>
</ul>

<p>Your Ability Modifiers:</p>
<ul>
    <li *ngFor="let mods of abilityMods">{{ mods.id }}: {{ mods.score }}</li>
</ul>